@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import "tailwindcss";

a.active hr{
    display: block;
}

*{
    font-family: 'Audiowide', cursive;
}

.audiowide-regular{
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
}

  /* ::-webkit-scrollbar {
    display: none;
} */

button {
    cursor: pointer !important;
  }
  
  

@media (max-width:640px){
    a.active{
        background-color: black;
        color:white;
    }
}